body {
  background-color: aquamarine;
  padding: 0px;
  margin: 0;
  text-align: center;
  justify-content: center;
}

.choice-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(164, 212, 130);
  border-radius: 50px;
  cursor: pointer;
}
.image-choice {
  height: 75px;
}

#head {
  color: rgb(194, 19, 176);
}

.reset {
  margin: 35px;
  padding: 10px;
  border: none;
  background-color: rgb(168, 206, 18);
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}
